<ui-grid [cols]=3 class="schedule-indicator">
    <ui-grid-item>
        <input 
            type="radio" 
            id="{{ scheduleIndicatorEnum.POMODORO }}" 
            name="schedule-indicator" 
            [(ngModel)]="selectedSchedule" 
            [value]="scheduleIndicatorEnum.POMODORO"
            (change)="handleSelectedScheduleChange(scheduleIndicatorEnum.POMODORO)"
        />
        <label 
            for="{{ scheduleIndicatorEnum.POMODORO }}"
            [class.active]="selectedSchedule === scheduleIndicatorEnum.POMODORO">
            Pomodoro
        </label>
    </ui-grid-item>
    <ui-grid-item>
        <input 
            type="radio" 
            id="{{ scheduleIndicatorEnum.SHORT_BREAK }}" 
            name="schedule-indicator" 
            [(ngModel)]="selectedSchedule" 
            [value]="scheduleIndicatorEnum.SHORT_BREAK"
            (change)="handleSelectedScheduleChange(scheduleIndicatorEnum.SHORT_BREAK)"
        />
        <label 
            for="{{ scheduleIndicatorEnum.SHORT_BREAK }}"
            [class.active]="selectedSchedule === scheduleIndicatorEnum.SHORT_BREAK">
            Short Break
        </label>
    </ui-grid-item>
    <ui-grid-item>
        <input 
            type="radio" 
            id="{{ scheduleIndicatorEnum.LONG_BREAK }}" 
            name="schedule-indicator" 
            [(ngModel)]="selectedSchedule" 
            [value]="scheduleIndicatorEnum.LONG_BREAK"
            (change)="handleSelectedScheduleChange(scheduleIndicatorEnum.LONG_BREAK)">
        <label 
            for="{{ scheduleIndicatorEnum.LONG_BREAK }}"
            [class.active]="selectedSchedule === scheduleIndicatorEnum.LONG_BREAK">
            Long Break
        </label>
    </ui-grid-item>
</ui-grid>