<ui-grid [cols]=3 class="schedule-indicator">
    <ui-grid-item>
        <span [class.active]="sessionType === sessionTypeEnum.Pomodoro">
            Pomodoro
        </span>
    </ui-grid-item>
    <ui-grid-item>
        <span [class.active]="sessionType === sessionTypeEnum.ShortBreak">
            Short Break
        </span>
    </ui-grid-item>
    <ui-grid-item>
        <span [class.active]="sessionType === sessionTypeEnum.LongBreak">
            Long Break
        </span>
    </ui-grid-item>
</ui-grid>