@tailwind components;

@layer components {
    .timer {
        @apply block m-auto mb-4 bg-black rounded-full shadow-lg p-4 aspect-square w-9/12;
        align-content: space-evenly;
    }

    /* .timer circle {
        stroke-dasharray: 113px;
        stroke-dashoffset: 0px;
        stroke-linecap: round;
        stroke-width: 2px;
        stroke: white;
        fill: none;
    } */

    .timer time {
        @apply text-6xl text-white font-bold;
    }

    .timer .timer-control {
        @apply text-4xl;
    }
    
}