@tailwind components;

@layer components {
    .timer {
        @apply relative bg-black rounded-full shadow-lg p-4;
    }

    .timer circle {
        stroke-dasharray: 113px;stroke-dashoffset: 0px;
        stroke-linecap: round;
        stroke-width: 2px;
        stroke: white;
        fill: none;
    }

    .timer time {
        @apply text-2xl;
    }
    
    .play-button {
        @apply m-5 cursor-pointer flex items-center select-none;
    }

    .play-button > input[type="checkbox"] {
        @apply hidden;
    }
      
    .play-button > span {
        @apply 
            block 
            w-0 
            h-6 
            float-left 
            border-solid 
            border-transparent 
            border-l-8
            border-l-white 
            transition-all 
            duration-200 
            ease-linear
            hover:border-l-gray-500;
    }
      
    .play-button span:first-of-type {
        @apply mr-1;
    }
      
    .play-button > input[type="checkbox"]:checked + span {
        @apply border-x-[6px];
    }
      
    .play-button > input[type="checkbox"]:checked + span:first-of-type {
        @apply h-3 border-l-[14px];
    }
      
    .play-button > input[type="checkbox"]:checked + span:last-of-type {
        @apply h-0 -ml-1 border-l-[14px];
    }
}