
<ui-grid [padding]="'m'" [alignItems]="'center'" [cols]=1 class="app-layout">
    <ui-grid-item>
        <ui-header />
    </ui-grid-item>
    <ui-grid-item>
        <ui-schedule-indicator />
    </ui-grid-item>
    <ui-grid-item>
        <ui-button
            [size]="'medium'"
            [style]="'primary'"
            [label]="'Apply'"
            [tooltip]="'Apply'"
            [onClick]="handleOpenSettingsDialog"
        />
        <ui-icon [iconName]="'faGear'" />
    </ui-grid-item>    
</ui-grid>

<ui-notifications />
<ui-loading-indicator />
