
<ui-grid [padding]="'m'" [alignItems]="'center'" [cols]=1 class="app-layout">
    <ui-grid-item>
        <ui-header />
    </ui-grid-item>
    <ui-grid-item>
        <ui-schedule-indicator />
    </ui-grid-item>
    <ui-grid-item>
        <ui-timer />
    </ui-grid-item>
    <ui-grid-item>
        <ui-icon [iconName]="'faGear'" [onClick]="handleOpenSettingsDialog" />
    </ui-grid-item>    
</ui-grid>

<ui-modal [header]="'Settings'" [onClick]="handleApplySettings">
    Settings Panel
</ui-modal>

<ui-notifications />

<ui-loading-indicator />
